.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.img-box {
    width: 100%;
    height: 300px;
    overflow: hidden;
    flex-shrink: 0;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.card-title {
    padding: 0 10px;
    margin: 10px 5px 0px 5px;
    font-size: 18px;
    text-align: center;
}



.btn {
    width: 100%;
    margin-top: auto;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
}

.card h2 {
    font-size: 14px;
    color: gray;
    margin: 5px;
    text-align: center;
}

.card-desc {
    font-size: 13px;
    color: #555;
    text-align: center;
    padding: 0 10px;
    margin: 5px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}